<h1>Welcome {{ userName }} {{ userLastName }}</h1>

<h2>Create a Post</h2>
<form [formGroup]="postForm" (ngSubmit)="createPost()">
  <!-- Campo para el título -->
  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      id="title"
      formControlName="title"
      placeholder="Título del post"
      class="form-control"
    />
  </div>

  <!-- Campo para el contenido -->
  <div class="form-group">
    <label for="content">Contenido</label>
    <textarea
      id="content"
      formControlName="content"
      placeholder="Contenido"
      class="form-control"
    ></textarea>
  </div>

  <!-- Campo para subir imagen -->
  <div class="form-group">
    <label for="image">Subir imagen</label>
    <input
      type="file"
      id="image"
      (change)="onFileChange($event)"
      class="form-control"
    />
  </div>

  <!-- Botón para crear el post -->
  <button type="submit" class="btn btn-primary">Crear Post</button>
</form>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Posts</h2></mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <mat-select
          [(value)]="selectedOption"
          (selectionChange)="onSelectionChange($event.value)"
        >
          <mat-option value="all">Ver todos los posts</mat-option>
          <mat-option value="user">Ver mis posts</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngFor="let post of posts" class="post-container">
      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>
      <small
        >Author: {{ post.author?.nombre }} {{ post.author?.apellido }}</small
      >

      <!-- Mostrar la imagen si está disponible -->
      <div class="post-image-container">
        <img
          *ngIf="post.imageUrl"
          [src]="'https://api.diegocaceres.online/' + post.imageUrl"
          alt="{{ post.title }}"
          class="post-image"
        />
      </div>

      <!-- Botón para ver detalles -->
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/post', post.id]"
        class="details-button"
      >
        Ver Detalles
      </button>

      <button
        *ngIf="post.author?.id === userId"
        mat-icon-button
        color="warn"
        class="delete-button"
        (click)="deletePost(post.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div *ngIf="posts.length === 0">
      <p>No posts available.</p>
    </div>
    <!-- Paginador -->
    <mat-paginator
      [length]="totalPosts"
      [pageSize]="limit"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
