<div *ngIf="post" class="post-detail-card">
  <div class="post-header">
    <h2 *ngIf="!isEditing">{{ post.title }}</h2>
    <form [formGroup]="editForm" *ngIf="isEditing">
      <div class="form-group">
        <label for="title">Título del post</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Título del post"
          class="form-control"
        />
        <div
          *ngIf="
            editForm.get('title')?.invalid &&
            (editForm.get('title')?.touched || editForm.get('title')?.dirty)
          "
          class="text-danger"
        >
          Título requerido
        </div>
      </div>
    </form>
  </div>
  <div class="post-content">
    <div *ngIf="!isEditing">
      <img
        *ngIf="post.imageUrl"
        [src]="apiUrl + '/' + post.imageUrl"
        alt="{{ post.title }}"
        class="post-image"
      />
    </div>

    <p *ngIf="!isEditing">{{ post.content }}</p>
    <form [formGroup]="editForm" *ngIf="isEditing">
      <div class="form-group">
        <label for="content">Contenido</label>
        <textarea
          id="content"
          formControlName="content"
          placeholder="Contenido"
          class="form-control"
        ></textarea>
        <div
          *ngIf="
            editForm.get('content')?.invalid &&
            (editForm.get('content')?.touched || editForm.get('content')?.dirty)
          "
          class="text-danger"
        >
          Contenido requerido
        </div>
      </div>

      <div class="form-group">
        <label for="image">Subir imagen</label>
        <input
          type="file"
          id="image"
          (change)="onFileChange($event)"
          class="form-control"
        />
      </div>
    </form>
    <div class="post-author">
      <span>Autor: {{ post.author?.nombre || "Desconocido" }}</span>
    </div>
  </div>
  <div class="post-actions" *ngIf="!isEditing">
    <button
      (click)="toggleEdit()"
      *ngIf="post.author?.id === userId"
      class="btn btn-primary"
    >
      Editar
    </button>
    <button [routerLink]="['/dashboard']" class="btn btn-secondary">
      Volver
    </button>
  </div>
  <div class="post-actions" *ngIf="isEditing">
    <button (click)="updatePost()" class="btn btn-primary">Actualizar</button>
    <button (click)="toggleEdit()" class="btn btn-danger">Cancelar</button>
  </div>
</div>

<!-- Formulario para agregar comentario -->
<mat-card class="comment-form">
  <mat-card-title>Agregar Comentario</mat-card-title>
  <mat-card-content>
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <mat-form-field>
        <textarea
          matInput
          formControlName="content"
          placeholder="Escribe tu comentario..."
        ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="commentForm.invalid"
      >
        Enviar
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- Sección de comentarios -->
<mat-card class="comments-section">
  <mat-card-title>Comentarios</mat-card-title>
  <div class="comments-content">
    <mat-card-content *ngFor="let comment of comments">
      <div class="comment">
        <p>{{ comment.content }}</p>
        <small>Autor: {{ comment.author?.nombre || "Anónimo" }}</small>
        <small class="comment-date">{{
          getRelativeTime(comment.createdAt)
        }}</small>
        <!-- Mostrar fecha y hora en formato relativo -->
      </div>
    </mat-card-content>
  </div>
</mat-card>
